[LayoutSettings]
activities=
backgroundStyle=1
color=green
customBackground=
customTextColor=
disableBordersForMaximizedWindows=false
icon=
lastUsedActivity=c1ca6192-aa66-4af4-85d0-63f17acba870
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=false
version=2
